*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-decoration:none;
}

/*.header logo{
  display:inline-block;
}

.header form1{
  display:inline-block;
}*/

input[type="mail"]{
  width:10%;

}

input[type="password"]{
  width:10%;
  padding:1px;
}

.form1{
  width:100px;
  height:100px;
  padding:5px;
}
